// Switch on/off highlighting visibility using
// background color in alpha channel 
// rgba(255,255,0,0) = off, 
// rgba(255,255,0,1) = maximum saturation

mark {
    background: rgba(255,255,0,0.5);
}

// decent gray gradient
body:not(.frame) {
    background-image: linear-gradient(to bottom, #eaeaea 15%, #ddd 90%);    
}

.row.result:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.label-default {
    background-color: inherit;
}

.breadcrumb {
    border-radius: 0px;
}

.searchHomeContent .logo {
    margin-top: -15px;
}

.pager > li > a {
    color: @brand-primary;
}

.nav-tabs > li:not(.active) > a {
    background-color: #7e8a90;    
    color: white
}

.searchbutton {
    margin-bottom: 5px;
}

// make right facet column grey

div.sidebar.col-sm-3 {
    width: 24%;
    background-color: #efefef;
}

.facet-group .collapse {
    background-color: #fff;
}

.facet-group .facet {
    background-color: #fff;
}

.facet-group .title {
    background-color: #fff;
}

.active-filters .facet, .facet-group .active {
    background-color: #E2001A;
    color: #fff;
}