// Switch on/off highlighting visibility using
// background color in alpha channel 
// rgba(255,255,0,0) = off, 
// rgba(255,255,0,1) = maximum saturation

mark {
    background: rgba(255,255,0,0.5);
}

// intense background gradient
body:not(.frame) {
    /*#gradient.vertical(darken(@brand-primary, 30%); @brand-primary; 15%; 90%);*/
    background-color: darken(white, 5%);
}