// Switch on/off highlighting visibility using
// background color in alpha channel 
// rgba(255,255,0,0) = off, 
// rgba(255,255,0,1) = maximum saturation

mark {
    background: rgba(255,255,0,0.5);
}

// decent gray gradient
body:not(.frame) {
    background-color: #f7f9f9; 
}

footer .row div .well {
    min-height: 12.1em;
}