    /* 
    Created on : 15.04.2015, 14:01:31
    Author     : Cornelius Amzar <cornelius.amzar@bsz-bw.de>
*/
@media print {
  /* zusätzliche oder abweichende CSS-Regeln für Drucker */
    .hidden-print,.hidden-print *,.hidden-print[class*="span"] {display:none}
    .row-fluid .span9 {margin:auto;width:90%}
    /* a[href]:after{content:''} */
    a:link:after, a:visited:after {display: none; content: "";}
    * {background-color:#FFF}
    .container {margin:0}
    #datevispublishDatexWrapper {width:90%}
    .result-body {width: 100%;}
    
}

